.vs/
.vscode/
.idea/
build/
build_*/
CMakeFiles/
.DS_Store
out
Encore/Songs/*
!Encore/Songs/Synthfox Soundworks - Untitled Chords Thing/
!Encore/Songs/Synthfox Soundworks - Untitled Chords Thing/*
cmake-build-debug/
Encore/build/
Encore/build/*
*.app
