[submodule "Encore/thirdparty/sdl"]
	path = Encore/thirdparty/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "Encore/thirdparty/tracy"]
	path = Encore/thirdparty/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Encore/thirdparty/sdl_shadercross"]
	path = Encore/thirdparty/sdl_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross.git
[submodule "Encore/thirdparty/glm"]
	path = Encore/thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "Encore/thirdparty/spirv-cross"]
	path = Encore/thirdparty/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
