.vs/
.vscode/
.idea/
CMakeFiles/
out/
Encore/Songs/*
!Encore/Songs/Synthfox Soundworks - Untitled Chords Thing/
!Encore/Songs/Synthfox Soundworks - Untitled Chords Thing/*
cmake-build-debug/
Encore/build/
Encore/build/*
