[submodule "Encore/thirdparty/sdl"]
	path = Encore/thirdparty/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "Encore/thirdparty/tracy"]
	path = Encore/thirdparty/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Encore/thirdparty/opensource"]
	path = Encore/thirdparty/opensource
	url = https://github.com/YARC-Official/OpenSource.git
[submodule "Encore/thirdparty/raylib"]
	path = Encore/thirdparty/raylib
	url = https://github.com/Encore-Developers/raylib-Source.git
[submodule "Encore/thirdparty/spdlog"]
	path = Encore/thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
